<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth/form.css">
    <!-- <link rel="stylesheet" href="css/main.css"> -->
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <div id="newsletter_panel" class="newsletter_panel_signup">
        <div class="form-background">
            <h1 class="active">Welcome !!</h1>
            <div class="container">
                <form action="signin" class="login-form" method="POST">
                    <div class="txtb">
                        <label for="username"> Username</label>
                        <input class="input100" name="username" type="text" required>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="txtb">
                        <label>Email</label>
                        <input class="input100" name="email" type="email" required>
                        <span class="focus-input100" style="margin-top: 135px;"></span>
                    </div>                        
                    <div class="txtb">
                        <label>Password</label>
                        <input class="input100" name="password" type="password" required>
                        <span class="focus-input100" style="margin-top: 135px;"></span>
                    </div>
                    <div class="txtb">
                        <label>Ph No.</label>
                        <input class="input100" name="cell" type="number" required>
                        <span class="focus-input100" style="margin-top: 135px;"></span>
                    </div>
                    <div class="txtb">
                        <label>College</label>
                        <input class="input100" name="college" type="text" required>
                        <span class="focus-input100" style="margin-top: 135px;"></span>
                    </div>
                    <div class="txtb">
                        <label>City</label>
                        <input class="input100" name="city" type="text" required>
                        <span class="focus-input100" style="margin-top: 135px;"></span>
                    </div>
                    <!-- <div class="txtb">
                        <label>Password</label>
                        <input class="input100" name="password" type="password" required>
                        <span class="focus-input100" style="margin-top: 135px;"></span>
                    </div> -->
                    <input type="submit" class="logbtn" value="SignUp">
                    <div class="bottom-text">
                        <a class="fpswd" href="#">Forgot Password?</a>
                        <p style="display: inline;">Already have an account? </p> <a class="sgnup" style="color: #57b846;" href="/login">Login</a> 
                    </div>      
                </form>           
            </div>
        </div>
    </div>
 <%- include('../includes/end.ejs') %>