body {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#newsletter_panel{
    background-color:#FFFFFF;
    border:1px solid #FFFFFF;
    border-radius: 3px;
    position: absolute;
    top:50%;
    left:50%;
}
.newsletter_panel_login{
    height:500px;
    width:600px;
    transform: translate(-50%,-55%);
}

.newsletter_panel_signup{
    width: 800px;
    transform: translate(-50%,-30%);
}

#newsletter_panel .form-background .container {
    position: relative;
}
#newsletter_panel .form-background .container .login-form{
    position: relative;
}
#newsletter_panel .form-background .container .login-form .txtb {
    position: relative;
}


#newsletter_panel .form-background .container input {
    display: block;
    width: 70%;
    outline: none;
    border-radius: 10px;
    height: 50px;
    font-size: 1.3rem;
    border: 1px solid #bbb;
    box-sizing: border-box;
    color: #252c33;
    margin: 20px 15%;
    padding: 7px 16px;

}


#newsletter_panel .form-background h1{
    text-align: center;
    margin-top: 8vh;
    /* margin-bottom: 8vh; */
    color: #46535e;
    font-weight: 120;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7rem;
    letter-spacing: 1px;
}

#newsletter_panel .form-background .container .login-form .logbtn{
    background: #333;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    line-height: 22px;
    text-align: center;
    min-width: 60px;
    padding: 0px 50px;
    border-radius: 3px;
    margin-left: 15%;
}
#newsletter_panel .form-background .container .login-form .logbtn:hover {
    background-color: #57b846;
    transition: 0.5s;
}
.sgnup, p{
    float: left;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    margin-left: 0px;
    /* margin-top: 3px;x */
}

.sgnup{
    margin-left: 1%;
    line-height: 1;
}

#newsletter_panel .form-background .container .login-form .bottom-text .fpswd{
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10rem;
    font-size: 0.87rem;
}

#newsletter_panel .form-background .container .login-form .bottom-text {
    margin-left: 40px;
    float: left;
}

#newsletter_panel .form-background .container .login-form .bottom-text a:hover{
    text-decoration: underline;
    color: #57b846;
}

#newsletter_panel .form-background .container .login-form .bottom-text p{
    font-weight: 100;
    text-align: center;
    margin: 20px 0 0 50px;
    color: #46535e;
    font-size: 14px;
}

#newsletter_panel .form-background .closepop{
    background: none;
    border: none;
    color: #9ca3a8;
    position: absolute;
    font-size: 2.5vh;
    top:-20px;
    cursor: pointer;
    outline: none;    
}


#newsletter_panel .form-background .container .login-form .txtb label{
    display: block;
    transform: translate(15%, 80%);
    color: #444;
    letter-spacing: 1px;
}



.focus-input100 {
    position: absolute; 
    pointer-events: none;
    bottom: 0px;
    display: block;
    width: calc(70% + 1px);
    outline: none;
    border-radius: 10px;
    height: 50px;
    font-size: 1.3rem;
    border: 1px solid #57b846;
    box-sizing: border-box;
    margin: 0 15%;
    padding: 7px 16px;
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
  }
  
  .input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;
  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
