 
 <nav class="navbar .navbar-fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">ShopSaga</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
      <ul class="navbar-nav mt-2 mt-lg-0">
        <form class="form-inline my-2 my-lg-0" id="searchProduct" action="/" method="GET">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="product">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <% if(isLoggedIn) { %>
        <li class="nav-item">
          <a class="nav-link" href="/post"><i class="fas fa-camera"></i> Sell with Us!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile/<%= user_id %>">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } else {%>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
       <% } %>
      </ul>
    </div>
  </nav>
  <% if(errorMessage) {%>
    <div class="alert alert-dark" role="alert">
      <%= errorMessage %>
    </div>
  <% } %>
  <% if(successMessage) {%>
    <div class="alert alert-success" role="alert">
      <%= successMessage %>
    </div>
  <% } %>
  <% if(otherMessage) {%>
    <div class="alert alert-info" role="alert">
      <%= otherMessage %>
    </div>
  <% } %>