.iiita-nav .brand .logo{
    cursor: pointer;
    margin-right: auto;
    width: 45px;
    height: 50px;
    margin-left: 30px;
    margin-right: 0px;
  }
  
  ._search_ {
    width: 120%;
    margin-left: 200px;
  }
  
  ._search_ .search_input{
    width: 50%;
  }
  
  .navbar .collapse .login-btn, .sell-btn, .register-btn, .help-btn {
    margin-right: 1%;
    font-size: 20px;
  }
  
  .category-bar{
    background-color: #DFF0CE;
  }
  
  .category-bar .categ-names{
    margin-left: 10%;
    display: flex;
  }