/* Home Page Css */

.category-bar{
  padding: 5px 150px;
  /* border: 1px solid black; */
  width: 100vw;
  display: flex;
  justify-content: space-around;
} 

.category-bar .categ-names{
margin-left: 10%;
display: flex;
} 

.grid{
  display: grid;
  grid-template-columns: repeat(4, 17rem);
  grid-gap: 50px;
  padding: 60px 0px 0px 140px;
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,0%);
}

.grid .products-display{
  grid-column: auto;  
  display: grid;
  grid-gap: 50px;
}

.grid .products-display .card{
  grid-column-end: span 0;
  display: flex;
  /* margin-bottom: 2%; */
  flex-direction: column;
  margin-right: 0;
}
.grid .products-display .card .card-text {
  margin: 0px; 
}

/* .grid .products-display{
  width: 40%;
} */
/* 
.main-products{
  display: grid;
  grid-template-columns: repeat(4, 25rem);
  grid-gap: 40px;
  padding: 60px 0px 0px 100px;
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,0%);
}

.main-products .products-display{
  grid-column: auto;  
  display: grid;
  grid-gap: 40px;
}

.main-products .products-display .card{
  grid-column-end: span 0;
  display: flex;
  /* margin-bottom: 2%; */
  /* flex-direction: column;
  margin-right: 2%;
}  */
