
.navbar {
    padding-left: 15vw;
    padding-right: 15vw; 
}

.navbar #searchProduct input[type="search"]{
    width: 500px;
}
.navbar-nav  li:first-of-type{
    margin-left: 15px;
}
.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
    background: #202529;
    margin: 2px;
    box-sizing: border-box;
    border-radius: 5px;
}


